<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>327975581494-da272to0mb9960tmkth676temlqm4crb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.327975581494-da272to0mb9960tmkth676temlqm4crb</string>
	<key>API_KEY</key>
	<string>AIzaSyBfZJUObk9lNmq-e2ar0SaJXeVvg5NjUBE</string>
	<key>GCM_SENDER_ID</key>
	<string>327975581494</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>petitcoding.com.teachMe</string>
	<key>PROJECT_ID</key>
	<string>teachme-bcd16</string>
	<key>STORAGE_BUCKET</key>
	<string>teachme-bcd16.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:327975581494:ios:3c5dc978639ae9c0</string>
	<key>DATABASE_URL</key>
	<string>https://teachme-bcd16.firebaseio.com</string>
</dict>
</plist>